@import "tailwindcss";
@plugin "daisyui" {
  themes: dim --default;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

input,
textarea,
select {
  font-size: 16px;
}

body {
  @apply bg-base-100 text-sm text-primary-content font-sans font-semibold flex flex-col items-center;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0.25rem 0.5rem;
  overflow: hidden;
  transition: height 0.3s ease;
}

.ray {
  position: absolute;
  width: 2px;
  background-color: var(--color-secondary);
  translate: 0 5px;
  border-radius: 2px;
}

.ray[data-side="side"] {
  height: 8px;
}

.ray[data-side="center"] {
  height: 6px;
}
