@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-base-100 text-sm text-primary-content font-sans font-semibold flex flex-col items-center;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0.25rem 0.5rem;
  overflow: hidden;
  transition: height 0.3s ease;
}

.h-show {
  height: 11rem;
}

.h-close {
  height: 2rem;
}
